
body{
    background-color: black;
}



/* Slideshow container position och storlek */
.slideshow-container {
  width: 1200px;
  position: relative; /*håller pilarna i kanten av bilderna */
  margin: auto;  /* centreras i container */
}

img{
  width:100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer; /* gör så man ser att det är klickbar */
  position: absolute; /* särar på pilarna */
  top: 50%;           /* tar upp pilarna 50% */
  padding: 16px;        /* pilarna dras lite innåt  */
  color: white;

}

/* Position the "next button" to the right */
.next {
  right: 0; /* drar next knappen till höger*/
 
}



/* textens färg och position*/
.text {
  color: #f2f2f2;
  text-align: center;
}

/* Number text 1/4 högst upp */
.numbertext {
  color: #f2f2f2;
  text-align: center;
}




