body {
	margin: auto;		/*Centrera sidan till mitten*/
	max-width: 1000px;     /*max bredd på body,ser bättre ut */
	font-family: sans-serif;  /*text stil*/
	background-color: rgba(32, 68, 15, 0.37);
}
header {
	text-align: center; /*Centrera texten i mitten */ 

}

#id {
	color:red;
}
form { 
	margin:auto;   /*centrerar form till mitten av hemsidan*/
	}



.startpage{         /*startsidan flex layout*/
	display: flex;	/* gör hela body till flexbox*/
	flex-wrap: wrap;
	justify-content: space-between;

}
header, /*tar upp 100% växer inte mer och blir inte mindre*/
footer{      /*basen blir 100% av header och footer vilket gör att det ser bra ut*/
	flex: 0 0 100%;    /*flex-grow, flex-shrink och flex-basis*/
}

section { /*sectioner tar 25%*/
	flex: 0 0 25%;   /*flex-grow, flex-shrink och flex-basis*/
}

.logoo   /* bildens storlek i mitten "warzone"*/
 {
	 width: 400px;
	 height: 150px;
 
  }
 
 

.tagline {   /*stylear "help you win every ginfight"*/
    font-size: 120%;
    padding: 0.5em;   /* Avstånd till kantlinje */
    border-top: 3px double #00AF64;
    border-bottom: 3px double #00AF64; 
   }


 
 h1 {        /*stora rubriken på toppen Meta chaser*/
	font-family: 'Merienda One', cursive; /*typsnitt hämtat från google*/
    font-size: 500%;           
   }

 h1::first-letter {    /*byter färg på första bokstaven i rubrik*/
	color:#00af0f;
 }

  .flexmeny{
	display: flex;  

	
}



.menu  h2 {
font-family: 'Merienda One', cursive; /*typsnitt hämtat från google*/
padding: 2em 0;  /* mellanrummet i cirkeln*/
background-color: #c2dbc4;  /* mycket ljusgrå */
text-align: center;
box-shadow: inset 0 0 20px #08f027; /*Rundningen, effekten med en inre box-shadow*/
border-radius:100%;              
}


.menu a{    /*texten i cirkeln till svart*/

	color:#000;            
}

.menu a:hover{

	color: #A62F00;
}



footer {				/*texten i botten*/
	
	text-align:center;  
	
}


nav {
	flex: 0 0 20%;  /*flex-grow,flex-shrink och flex-basis*/
	margin-right: 10px;	/*flex items  till höger inte ska komma ända inpå*/
	}






article{                 
	padding-bottom:2em;  /* mellanrummet ifrån gröna understräcket till texten*/
	border-bottom: 3px double #00af64; /*gröna understräcket mellan alla personer*/

}

article p{
	margin-left:150px; /* hur långt till höger "p" börjar*/
	

}
figure {
	float: left; /*bilden till vänster om texten*/
	margin: 0; /*nolställ webbläsarens inbyggda stil ser bättre ut  med allt längst kanten*/
}
figure img{
	width:140px;  /*storlek på bilderna*/
	height:140px;
}
figcaption {                     /* stil/storlek på namnen under bilderna*/
	text-align: center;
	color: #666;
}




.texten {                  /*storlek på kantlinjer runt namn på vapen under*/
	border: 1px solid #ccc;   
	padding: 1px;            
}

caption{
 font-size: 150%;
}
table{
	width: 100%;
	margin-top: 100px;
}
table, th, td {
	border: 0.5px solid black;
}

